$accentColor: #bde0fe;
@import url('https://fonts.googleapis.com/css?family=Russo+One');
.panel {
 width: 100%;
 min-height: 11%;
 max-height: 11%;
 background: $accentColor;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 font-size: 25px;
 box-shadow: 0px 2px 10px black;
 border-bottom: 1px solid black;
 padding-left: .5em;
 p {
  font-size: 14px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 1em;
  font-family: 'Russo One';
  font-weight: bold;
 }

}

.expand {
 cursor: pointer;
}
.expand:hover {
 color: #ffafcc;
 font-weight: bolder;
}

